/** @format */

.section__contact {
  color: cyan;
  display: flex;
  height: 60vh;
  border: 1px solid red;
}

.section__contact .inner {
  display: flex;
  border: 1px solid blue;
  margin: 0 auto;
  width: 80%;
}

.section__contact .wrapper {
  font-size: 50px;
  color: black;
}
