/** @format */

.section-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 20px;
}
@media (max-width: 500px) {
  .section-title {
    font-size: 20px;
    width: 90%;
  }
}
@media (max-width: 993px) {
  .section-title {
    font-size: 75px;
    width: 90%;
  }
}
