/** @format */

header {
  color: red;
  border: 1px solid red;
  height: 100px;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
}

header .inner {
  font-size: 30px;
  display: flex;
  align-items: center;
  padding: 15px 50px 0px 50px;
}

header .inner-logo {
  font-size: 50px;
  flex: none;
  border: 1px solid blue;
}

header .inner-menu {
  margin-left: auto;
  font-size: 30px;
  color: blue;
  border: 1px solid blue;
}
