/** @format */

.project-card-main {
  width: 500px;
  display: block;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid grey;
  color: #263847;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease-out;
  height: 130px;
}
.project-card-main:hover {
  background-color: #cfdfc2;
}
.project-card-main .card-title {
  margin: 0 auto;
  font-size: 25px;
  font-weight: 500;
}
.project-card-main .card-desc {
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  color: #263847;
}

@media (max-width: 993px) {
  .project-card-main {
    width: 500px;
    height: 150px;
  }
}
@media (max-width: 850px) {
  .project-card-main {
    height: 130px;
    border: 1px solid grey;
    width: 400px;
  }
}
