/** @format */

#project {
  display: flex;
  background: #c2d9df;
  align-items: center;
  justify-content: center;
  border-top: 0;
  border-bottom: 0px;
  color: #2e4558;
  /* padding: 0rem 5.6rem; */
  margin-bottom: 0;
  z-index: -1;
}

.project-wrapper {
  margin: 0 auto;
  padding: 30px;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 993px) {
  .project-wrapper {
  }
}
@media (max-width: 850px) {
  .project-wrapper {
    margin: 0 auto;
  }
}
