/** @format */

.section__welcome {
  color: blue;
  border: 1px solid red;
  margin-top: 100px;
  height: 100vh;
}

.section__welcome .inner {
  display: flex;
  border: 1px solid blue;
  margin: 0 auto;
  width: 80%;
}

.section__welcome .wrapper {
  border: 1px solid green;
  margin-top: 0;
  font-size: 50px;
  color: black;
}
.section__welcome-title {
  font-size: 120px;
  border: 1px solid green;
}
.section__welcome-subtitle {
  font-size: 30px;
  border: 1px solid green;
}
