/** @format */

//Colors
$primary-color: #0a3d62;
$secondary-color: #3c6382;
$white-color: #c2d9df;
$dark-grey: #272e33;
$dark-blue-text: #263847;

//Font Size
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
